body {
  margin-left: 0;
  margin-top: 0;
  background-color: #03FEC7;
  /* background-image: url('https://media.giphy.com/media/CA3X0kpubZm5G/giphy.gif'); */
}

.home {
  /* display: flex; */
  /* border: 3px solid #ff0200;
  border-radius: 20%; */
}

h1 {
  font-family: 'Ubuntu';
  display: block;
  margin: 0 auto;
  margin-left: 10%;
  margin-top: 3%;
  color: white;
  font-size: 80px;
  font-weight: 800;
  letter-spacing: -1px;
}

h1:hover {
  letter-spacing: -5px;
  color: white;
}

.btnWarp {
  margin: 0 auto;
  margin-top: 2px;
  margin-left: 10%;
  margin-bottom: 20px;
  padding: 16px;
  justify-content: center;
  border-radius: 25%;
  /* box-shadow: 5px 10px 8px #999; */
}

a {
  font-family: 'Arimo';
  text-decoration: none;
  /* color: #FEFF00; */
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  color: white;
  background-color: black;
  border-radius: 21%;
  padding: 3px;
  border: 1px solid #ff0200;
}

.btnWarp:hover {
  /* background-color: #ff88a8;
  border: 4px solid #ff0200;
  border-radius: 25%; */
}

a:hover {
  color: #ff0200;
  font-weight: 400;
  /* background-color: black;
  border-radius: 21%;
  padding: 3px;
  border: 1px solid #ff0200; */
}

p {
  color: red;
  font-size: 20px;
  background-color: yellow;
}

.typeGif {
  display: block;
  font-family: 'Arimo';
  font-size: 22px;
  padding: 6px;
  margin-top: 15px;
  color: #00FFF3;
  border: none;
  /* text-align: center; */
}

.gif-keyboards {
  position: fixed;
  top: 28%;
  left: 50%;
  height: 70%;
  width: 80%;
  /* background: #fff; */
  margin-left: -40%;
  z-index: -1;
}

.gif-cointainer {
  height: 80%;
  margin: 0 auto;
  padding-top: 2%;
  padding-bottom: 2%;
  border: 3px solid black;
  border-radius: 3%;
  width: 850px;
  z-index: -1;
}

.gifBox {
  cursor: pointer;
  float: left;
  width: 20%;
  margin: 0;
  height: 34%;
  text-align: center;
  font-size: 3em;
  box-sizing: border-box;
  z-index: -1;
}

.gifImg {
  width: 140px;
  height: 140px;
  border: 2px solid #5649e1;
  margin-left: 5px;
}

.gifImg:hover {
  cursor: none;
}
