body {
  margin-left: 0;
  margin-top: 0;
  background-color: white;
}

.home {
  /* display: flex; */
}

.header{
  /* margin: 0 auto;
  margin-left: 10%; */
}

h1 {
display: block;
  font-family: 'Amatic SC';
  color: black;
  font-size: 100px;
  font-weight: 800;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 35px;
  margin-left: 40px;
}

.tagline {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 24px;
  color: #E62714;
  display: block;
  margin: 0 auto;
  margin-left: 4%;
  letter-spacing: 3px;
}

.btnWarp {
  margin: 0 auto;
  margin-top: 8%;
  margin-left: 5%;
  padding: 16px;
  justify-content: center;
}

a {
  font-family: 'Open Sans';
  text-decoration: none;
  text-align: center;
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 400;
  color: black;
  padding: 3px;
  border: 1px solid #E62714;
  border-radius: 25%;
  /* background-color: black; */
}

a:hover {
  border: 2px solid #E62714;
  border-radius: 21%;
  padding: 3px;
}

.done {
  margin-top: 8%;
  margin-left: 8%;
  font-family: 'Open Sans';
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 400;
  color: black;
  max-width: 150px;
  border: 1px dotted #fed3d6;
  padding: 25px;
}

.typeGif {
  /* display: left; */
  font-family: 'Arimo';
  font-size: 22px;
  padding: 6px;
  margin-top: 20px;
  margin-left: 5px;
  color: #1816FA;
  border: none;
  max-width: 210px;
  /* background: transparent !important; */
}

.gif-keyboards {
  position: fixed;
  top: 30%;
  left: 50%;
  height: 70%;
  width: 80%;
  margin-left: -40%;
  z-index: -1;
}

.gif-cointainer {
  height: 80%;
  margin: 0 auto;
  padding-top: 2%;
  padding-bottom: 2%;
  border: 2px solid black;
  background: white;
  border-radius: 2%;
  width: 850px;
  z-index: -1;
}

.gifBox {
  cursor: pointer;
  float: left;
  width: 20%;
  margin: 0;
  height: 34%;
  text-align: center;
  font-size: 3em;
  box-sizing: border-box;
  z-index: -1;
}

.gifImg {
  width: 140px;
  height: 140px;
  /* border: 2px solid black; */
  /* box-shadow: 2px 2px 2px #999; */
  margin-left: 5px;
}

.gifImg:hover {
  cursor: none;
}

.headerTwo {
  display: block;
  font-family: 'Open Sans';
  font-weight: 400;
  text-align: center;
  font-size: 14px;
  margin: auto 0;
  margin-top: 10px;
  border-bottom: 1px dotted #fed3d6;
  padding-bottom: 5px;
}
