body {
  margin-left: 0;
  margin-top: 0;
  /* background-image: url('https://media.giphy.com/media/CA3X0kpubZm5G/giphy.gif'); */
}

h1 {
  color: black;
  font-size: 70px;
  font-weight: 800;
  font-family: "Helvetica Neue";
  text-align: center;
  justify-content: center;
}

p {
  color: red;
  font-size: 20px;
  background-color: yellow;
}

.btnWarp {
  border: 2px solid #00FFF3;
  font-family: "Helvetica Neue";
  padding: 50px;
  margin-left: 5%;
  max-width: 10px;
  max-height: 10px;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #FF0DFF;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
}

.typeGif {
font-family: "Helvetica Neue";
font-size: 70px;
color: #00FFF3;
margin-left: 5%;
border: none;
text-align: center;
}

.gif-keyboards {
  position: fixed;
  top: 30%;
  left: 50%;
  height: 80%;
  width: 80%;
  background: #fff;
  margin-left: -40%;
  z-index: -1;
}

.gif-cointainer {
  height: 100%;
  margin: 0 auto;
  width: 800px;
  z-index: -1;
}

.gifBox {
  cursor: pointer;
  float: left;
  width: 19%;
  margin: 0;
  height: 22%;
  text-align: center;
  font-size: 3em;
  box-sizing: border-box;
  z-index: -1;
}

.gifImg {
  width: 140px;
  height: 140px;
  border: 1px solid #00FFF3;
  margin-right: 5px;
  margin-left: 5px;
}
